

$white: whitesmoke;

$font-primary: 'Turret Road', cursive;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin card-gradient {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgb(12, 12, 12) 50%, rgb(22, 22, 22) 75%); 
}
