html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-family: "Turret Road", cursive;
  background-color: #201f2e;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.surprise {
  position: fixed;
  padding: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.surprise button {
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  width: 5rem;
  height: 5rem;
  border: 4px solid #201f2e;
  border-radius: 50%;
  -webkit-animation: rotation 3s linear infinite;
          animation: rotation 3s linear infinite;
}

.surprise button:hover {
  color: whitesmoke;
  background: #222;
  border: 3px solid whitesmoke;
}

.surprise button i {
  font-size: 3rem;
  font-weight: 700;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.primer-vista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.primer-vista .reloj-intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.primer-vista .reloj-intro h3 {
  font-size: 5rem;
  color: whitesmoke;
}

.primer-vista .reloj-intro #clock {
  font-size: 5rem;
  color: whitesmoke;
  letter-spacing: .5rem;
}

.primer-vista-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
}

.primer-vista-text h1 {
  font-size: 5rem;
  color: whitesmoke;
}

.primer-vista-text p {
  text-align: center;
  width: 75%;
  font-size: 2rem;
  color: whitesmoke;
}

.section-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0 10rem 0;
}

.section-filter h2 {
  font-size: 4rem;
  font-weight: 400;
  color: whitesmoke;
  text-transform: capitalize;
}

.section-filter span {
  font-size: 2rem;
  color: whitesmoke;
  margin-bottom: 2rem;
}

.section-filter input {
  border: none;
  outline: none;
  border-bottom: 2px solid #444;
  background: none;
  color: whitesmoke;
  width: 40%;
  font-size: 2.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 10rem;
}

.card {
  background-color: whitesmoke;
  width: 27rem;
  margin: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, black), color-stop(70%, #af0c0c));
  background: linear-gradient(0deg, black 50%, #af0c0c 70%);
  color: whitesmoke;
  padding-top: 5rem;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.card-body-img {
  width: 15rem;
  height: 15rem;
  border: 5px solid whitesmoke;
  border-radius: 50%;
  background-color: whitesmoke;
}

.card-body-title {
  margin-top: 2rem;
  font-size: 2.7rem;
  text-transform: capitalize;
  color: whitesmoke;
}

.card-body-title span {
  font-weight: 400;
}

.card-body-text {
  font-size: 2.1rem;
}

.card-body-xp {
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background: whitesmoke;
  color: #222;
}

.card-footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  margin: 1.3rem;
  line-height: 1.5rem;
}

.card-footer-social h3 {
  font-size: 2rem;
  margin: 1.3rem 0 .5rem;
}

.card-footer-social p {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.card-footer-weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 2rem;
  background: whitesmoke;
  color: #222;
}

.card-footer-weight span {
  margin: 0 0 2rem 0;
}

.card-footer-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #111;
  background: whitesmoke;
}

.card-footer-type span {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 2rem 2rem;
}

.filter {
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  background: whitesmoke;
}

footer i {
  font-size: 2rem;
}

footer i a {
  margin-left: 1rem;
  text-decoration: none;
  color: #222;
  font-family: "Turret Road", cursive;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

footer i a:hover {
  border-bottom: .2rem solid #222;
}
/*# sourceMappingURL=main.css.map */